<a href="/admin/Proje/Insert" class="btn btn-primary" style="margin-bottom:15px;">Yeni Ekle</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>#</td>
            <td>Proje</td>
            <td>İşlemler</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.ProjectName</td>
                <td>
                    <a href="/admin/Proje/update/@item.id" class="btn btn-primary">Guncelle</a>
                    <a href="/admin/Proje/delete/@item.id" class="btn btn-danger">sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>