<a href="/admin/Bloglarim" class="btn btn-primary" style="margin-bottom:15px;">Geri Git</a>


<form action="/admin/bloglarim/Insert" method="post" enctype="multipart/form-data">

    <div class="col-md-12" style="margin-bottom:15px;">
        <input type="text" name="BlogName" placeholder="Blog Adı" class="form-control" />
    </div>

    <div class="col-md-12" style="margin-bottom:15px;">
        <input type="file" name="file" class="form-control" />
    </div>

    <div class="col-md-12" style="margin-bottom:15px;">
        <textarea class="form-control" style="height:250px" placeholder="Blog Açıklama" name="Explanation"></textarea>
    </div>

    <button type="submit" class="form-control btn btn-primary">Ekle</button>

</form>
@if (ViewBag.Messages != null)
{
    <div class="alert alert-info">@ViewBag.Messages</div>
}